/*metodologia bem*/

.remerasreciclables {
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
}

.anteojosr {
    border: solid 5px black;
    border-radius: 20px;

}

.nfl {
    border: solid 5px black;
    border-radius: 20px;
}

.anteojosm {
    border: solid 5px black;
    border-radius: 20px;
}



.contenedor {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

/*bloque 1*/
.tarjeta {
    background-color: rgba(66, 35, 102, 0.377);
    padding: 20px;
}

.tarjeta__miniatura {
    width: 650px;
    height: 200px;
    margin-right: 20px;
}

.tarjeta__imagen {
    width: 50%;
    border-radius: 40px;
}

.tarjeta__titulo {
    font-family: 'poppins';
    font-size: 20px;
    margin-bottom: 20px;
}

.tarjeta__enlace {
    color: black;
}

.tarjeta__parrafo {
    line-height: 25px;
    margin-bottom: 20px;
}

/*bloque 2*/
.boton {
    display: inline-block;
    padding: 12px 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    text-decoration: none;
}

.boton__texto {
    color: rgb(239, 226, 240);
    font-size: 20px
}

/*Modificador 
.boton--alternativo{
    font-size: 50px;
}
*/
.caja1 {
    border: solid 1px black;
    padding: 30px;
    font-size: 130px;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

/*flexbox*/

/*contenedor padre*/
.flex-container {
    width: 1000px;
    height: 700px;
    background-color: green;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;

}

/*hijos del flex*/
.flex-item {
    width: 200px;
    height: 200px;
    background-color: coral;
    color: white;
}

.flex-item:nth-child(odd) {
    background-color: forestgreen;
}

.flex-item2 {
    width: 200px;
    height: 200px;
    background-color: azure;
}


/*ejemplo de flexbox*/


.caja img {
    width: 300px;
}

.caja {
    margin: 25px;
}

.caja p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: italic;
}

#grilla {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 20% auto 15%;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas:
        "nav   header   header"
        "nav   main     asaid"
        "nav   main     asaid"
    ;
}

.header-1 {
    background-color: brown;
    grid-area: hidden;
}

.nav-1 {
    background-color: yellowgreen;
    grid-area: nav;
}

.asaid-1 {
    background-color: blue;
    grid-area: asaid;
}

.main-1 {
    background-color: purple;
    grid-area: main;
}

/*nueva entrega*/
/*index*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue";
}

.nav {
    /*background-color: black;*/
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    color: white;
    background-image: linear-gradient(to right, rgb(252, 252, 255), rgb(15, 44, 68));
}

.nav .logo {
    width: 60px;
    height: 60px;
    grid-column: 2/3;
    transform: translate(-150px);
    /*transform: scale(1,1);*/
    /*transform: skew(20deg,10deg);*/
    /*transform: rotate(80deg); */
    animation-name: rotar_logo;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 3s;
}

/*aniamciones*/
@keyframes rotar_logo {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(180deg);
    }

    100% {
        transform: rotateX(360deg);
    }
}

/*animation de la app*/
.indumentariaUrbana {
    animation-name: bounce;
    /*nombre copiado desde la app*/
    animation-duration: 3s;
}


.nav .menu {
    display: flex;
    justify-content: space-around;
    grid-column: 4/7;
}

.nav .menu li {
    list-style: none;
}

.nav .menu a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav .menu-bar {
    display: none;
}

.nav .carrito {
    grid-column: 8/9;
}

.principal {
    height: 80vh;
    background-image: url("../galeria/IMG_8008.JPG");
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.principal .contenido {
    grid-column: 1/4;
    grid-row: 3/7;
    color: #fff;
}

.principal h3 {
    font-size: 30px;
    font-weight: 300;
}

.principal h1 {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

.principal p {
    font-weight: 200;
}

.principal .boton {
    font-family: 'Courier New';
    font-size: 19px;
    font-weight: 600;
    background: none;
    color: #fff;
    padding: 10px 20px;
    border: solid 2px white;
    border-radius: 15px;
    margin-top: 15px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    transition: all 2s;
}

.principal .boton:hover {
    height: 200px;
    width: 200px;
    background-color: cyan;
    /*font-size: 114px;*/
    /*transform: skewY(25deg)*/
}

/*footer*/
.pieDePagina {
    display: grid;
    height: 88px;
    align-items: center;
    background-image: linear-gradient(to right, rgb(139, 139, 139), rgb(15, 44, 68));
    color: white;
    grid-template-areas: "desarrollado seguinos redes-sociales";

}

.pieDePagina .desarrollado {
    grid-area: desarrollado;
    display: flex;
    justify-content: center;
}

.pieDePagina .seguinos {
    grid-area: seguinos;
    display: flex;
    justify-content: center;
}

.pieDePagina .redes-sociales {
    grid-area: redes-sociales;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

/*nosotros*/
/*main*/

.mainNos {
    height: 80vh;
    background-image: linear-gradient(to right, rgb(235, 229, 229), rgb(69, 148, 214));
    background-position: center;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.mainNos .textoMain {
    grid-column: 4/8;
    grid-row: 2/6;
    color: rgb(0, 0, 0);
}

.mainNos h3 {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.mainNos p {
    font-size: 25px;
    color: rgb(32, 30, 30);
    text-transform: italic;
    font-weight: 10px;
}

.botonNos {
    font-family: 'Courier New';
    font-size: 19px;
    font-weight: 600;
    background: none;
    color: black;
    padding: 10px 20px;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
    height: 70px;
    width: 100px;
}

/*contacto*/
.mainContacto {
    height: 80vh;
    background-image: linear-gradient(to right, rgb(235, 229, 229), rgb(69, 148, 214));
    background-position: center;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

/*sale*/
.mainSale {
    height: 90vh;
    background-image: linear-gradient(to right, rgb(235, 229, 229), rgb(69, 148, 214));
    background-position: center;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);

}


/*catalogo*/

.mainCat {
    height: 80vh;
    background-image: linear-gradient(to right, rgb(235, 229, 229), rgb(69, 148, 214));
    background-position: center;
    max-width: 100%;
}


/*mediaqueries*/
@media screen and (max-width: 600px) {
    .nav {
        position: relative;
    }

    .nav .carrito {
        display: none;
    }

    .nav .menu-bar {
        display: block;
        grid-column: 8/9;
        font-size: 30px;
        cursor: pointer;
    }

    .nav {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    }

    .nav .menu {
        display: none;
    }

    /*main*/
    .principal .contenido {
        grid-row: 3/7;
    }

    .principal h1 {
        font-size: 25px;
    }

    .principal p {
        font-size: 12px;
    }

    .principal .boton {
        font-size: 10px;
        font-weight: 900;
        text-transform: uppercase;
        background-color: black;
        border: solid 1px white;
    }


    /*footer*/
    .pieDePagina {
        height: 110px;
    }

    .pieDePagina .seguinos {
        display: none;
    }

    .pieDePagina .desarrollado {
        font-size: 15px;
    }
}



/*otra forma de usar mediaqueries*/

@media (min-width:601px) and (max-width: 900px) {
    .nav {
        position: relative;
    }

    .nav .carrito {
        display: none;
    }

    .nav .menu-bar {
        display: block;
        grid-column: 8/9;
        font-size: 30px;
        cursor: pointer;
    }

    .nav .menu {
        display: none;
    }
}

