.nav {
  /*background-color: black;*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f3ebeb;
  background-image: -webkit-gradient(linear, left top, right top, from(#fcfcff), to(#0f2c44));
  background-image: linear-gradient(to right, #fcfcff, #0f2c44);
}

.nav .logo {
  width: 60px;
  height: 60px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-transform: translate(-150px);
          transform: translate(-150px);
  /*transform: scale(1,1);*/
  /*transform: skew(20deg,10deg);*/
  /*transform: rotate(80deg); */
  -webkit-animation-name: rotar_logo;
          animation-name: rotar_logo;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
}

.nav .menu li {
  list-style: none;
}

.nav .menu a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav .menu-bar {
  display: none;
}

.nav .carrito {
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8/9;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue";
}

.nav {
  /*background-color: black;*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#fcfcff), to(#0f2c44));
  background-image: linear-gradient(to right, #fcfcff, #0f2c44);
}

.nav .logo {
  width: 60px;
  height: 60px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-transform: translate(-150px);
          transform: translate(-150px);
  /*transform: scale(1,1);*/
  /*transform: skew(20deg,10deg);*/
  /*transform: rotate(80deg); */
  -webkit-animation-name: rotar_logo;
          animation-name: rotar_logo;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
}

.nav .menu li {
  list-style: none;
}

.nav .menu a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav .menu-bar {
  display: none;
}

.nav .carrito {
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8/9;
}

/*aniamciones*/
@-webkit-keyframes rotar_logo {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@keyframes rotar_logo {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

/*animation de la app*/
.indumentariaUrbana {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  /*nombre copiado desde la app*/
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.principal {
  height: 80vh;
  background-image: url("../galeria/IMG_8008.JPG");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
}

.principal .contenido {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3/7;
  color: #fff;
}

.principal h3 {
  font-size: 30px;
  font-weight: 300;
}

.principal h1 {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
}

.principal p {
  font-weight: 200;
}

.principal .boton {
  font-family: 'Courier New';
  font-size: 19px;
  font-weight: 600;
  background: none;
  color: #fff;
  padding: 10px 20px;
  border: solid 2px white;
  border-radius: 15px;
  margin-top: 15px;
  cursor: pointer;
  height: 100px;
  width: 100px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.principal .boton:hover {
  height: 200px;
  width: 200px;
  background-color: cyan;
  /*font-size: 114px;*/
  /*transform: skewY(25deg)*/
}

/*footer*/
.pieDePagina {
  display: -ms-grid;
  display: grid;
  height: 88px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#8b8b8b), to(#0f2c44));
  background-image: linear-gradient(to right, #8b8b8b, #0f2c44);
  color: white;
      grid-template-areas: "desarrollado seguinos redes-sociales";
}

.pieDePagina .desarrollado {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: desarrollado;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pieDePagina .seguinos {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: seguinos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pieDePagina .redes-sociales {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: redes-sociales;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 20px;
}

/*nosotros*/
/*main*/
.mainNos {
  height: 80vh;
  background-image: url(../galeria/IMG_8008.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  padding: 5em;
}

.nosotros {
  max-width: 25em;
  padding: 1.3em;
  margin: 0 auto;
  /*se posiciona al centro*/
  background-color: rgba(249, 247, 255, 0.854);
  font-weight: bold;
  border-radius: 0.5em !important;
  -webkit-box-shadow: inset 1px 1px 22px 4px rgba(228, 226, 226, 0.833);
          box-shadow: inset 1px 1px 22px 4px rgba(228, 226, 226, 0.833);
}

/*contacto*/
.mainContacto {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#ebe5e5), to(#4594d6));
  background-image: linear-gradient(to right, #ebe5e5, #4594d6);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  padding: 3em;
}

.formulario1 {
  max-width: 30em;
  padding: 1.5em;
  margin: 0 auto;
  /*se posiciona al centro*/
  background-color: rgba(120, 119, 123, 0.3);
  font-weight: bold;
  border-radius: 0.5em !important;
  -webkit-box-shadow: inset 1px 1px 22px 4px rgba(0, 0, 0, 0.85);
          box-shadow: inset 1px 1px 22px 4px rgba(0, 0, 0, 0.85);
}

/*sale*/
.mainSale {
  height: 90vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#ebe5e5), to(#4594d6));
  background-image: linear-gradient(to right, #ebe5e5, #4594d6);
  background-position: center;
  max-width: 100%;
  background-size: cover;
  padding: 2em;
}

/*catalogo*/
.mainCat {
  height: 80vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#ebe5e5), to(#4594d6));
  background-image: linear-gradient(to right, #ebe5e5, #4594d6);
  background-position: center;
  max-width: 100%;
  background-size: cover;
  padding: 2em;
}

/*mediaqueries*/
@media screen and (max-width: 600px) {
  .nav {
    position: relative;
  }
  .nav .carrito {
    display: none;
  }
  .nav .menu-bar {
    display: block;
    -ms-grid-column: 8;
    -ms-grid-column-span: 1;
    grid-column: 8/9;
    font-size: 30px;
    cursor: pointer;
  }
  .nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
  }
  .nav .menu {
    display: none;
  }
  /*main*/
  .principal .contenido {
    -ms-grid-row: 3;
    -ms-grid-row-span: 4;
    grid-row: 3/7;
  }
  .principal h1 {
    font-size: 25px;
  }
  .principal p {
    font-size: 12px;
  }
  .principal .boton {
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: black;
    border: solid 1px white;
  }
  .mainContacto .h4 {
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  /*footer*/
  .pieDePagina {
    height: 110px;
  }
  .pieDePagina .seguinos {
    display: none;
  }
  .pieDePagina .desarrollado {
    font-size: 15px;
  }
}

/*otra forma de usar mediaqueries*/
@media (min-width: 601px) and (max-width: 900px) {
  .nav {
    position: relative;
  }
  .nav .carrito {
    display: none;
  }
  .nav .menu-bar {
    display: block;
    -ms-grid-column: 8;
    -ms-grid-column-span: 1;
    grid-column: 8/9;
    font-size: 30px;
    cursor: pointer;
  }
  .nav .menu {
    display: none;
  }
}

/*pseudoclase*/
.menu .enlace:hover {
  color: black;
}

.formulario .email:invalid {
  border: solid 2px red;
}
/*# sourceMappingURL=estilos.css.map */